 @font-face {font-family: "BlissfulThinking"; src: url('/bts_sio/fonts/BlissfulThinking.otf') ;}
 

#nav-cv,
#nav-cv ul,
#nav-cv ul li,
#nav-cv ul li a {
  margin: 0;
  padding-top: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  font-family:  "ProximaNova",sans-serif ;
}
.row
{
	padding-left  : 5%;
}
#nav-cv
{	
	
	width : 100%;
	background-color: #fff;
	overflow : hidden;
	height : 43px ;
	margin-bottom: 1000px ;
	margin-bottom: 15px ;
	border-bottom: 1px solid #000 ;

}

.fixNavigation{
 z-index: 9999;
 position: fixed;
 top: 0;
 width: 900px; 
 }
#nav-cv ul
{
	margin-left : 29%;
	height: 43px;
	padding-top: 15px ;

	
}

#nav-cv ul li
{
	display: inline;
	padding : 10px ;
	height: 50px;
	list-style: none ;
  	border-right: 1.3px solid rgba(0, 0, 0, 0.8);

}
#nav-cv ul .first
{
		border-left: 1px solid rgba(0, 0, 0, 0.8);
}
#nav-cv  a
{

		text-decoration : none;
		text-align: center ;
		color : #ED210D;
		font-weight: bold;
		font-size: 1em;
		font-family: "ProximaNova",sans-serif ;
		height : 43px;
}
#nav-cv li:hover 
{
	background-color: #ED210D;
	color : #000;
}
#nav-cv a:hover 
{
	text-decoration : none;
	color : #000;
}

.skills-domain
{
position: relative;
display: block;
width: 100%;
padding: 0 30px;
border-left: 3px solid #cb3b27;
}
.skills-domain p,ul li
{
margin: 3.5% auto;
color: #303030;
font-family: "BlissfulThinking";
font-weight: normal;
font-size: 1.4em;
line-height: 1.2em;
list-style: none;
}
.skills-domain ul li
{
margin-left: -40px ;
}

.one-skill{
position: relative;
display: inline-block;
width: 22%;
height: 100%;
text-align: center;
}
.one-skill-lang{
position: relative;
display: inline-block;
width: 10%;
height: 100%;
text-align: center;
}
.full-circle
{
display: inline-block;
position: relative;
width: 10px;
height: 10px;
background-color: #cb3b27;
margin: 1px;
-webkit-border-radius:  10px 10px 10px 10px;
border-radius:  10px 10px 10px 10px;
-moz-border-radius:   10px 10px 10px 10px; 
}

.empty-circle
{
display: inline-block;
position: relative;
width: 10px;
height: 10px;
background-color: #666;
margin: 1px;
-webkit-border-radius:  10px 10px 10px 10px;
border-radius:  10px 10px 10px 10px;
-moz-border-radius:   10px 10px 10px 10px; 
}

.xp-pro
{
	padding-top: 25px ;
}
.taches ul li
{
	margin: 3.5% auto;
	color: #303030;
	font-family: "BlissfulThinking";
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.2em;
}
.show-tache
{
  color : #cb3b27;
  font-family: inherit;
  font-size: 1.2em;
  letter-spacing: 1px; 
}
.show-tache:hover
{
  color : #ED210D;
  text-decoration: none ;
}
.fildecume
{
	border-color : 1px solid #000;
}
.date-xp-pro
{
	font-weight: bold;
	
}

